<div style="margin-bottom: 20px;">
    <h3>Ajout d'étudiant</h3>
    <form #form="ngForm" (submit)="onSubmit()">
        <input
            #name="ngModel"
            required
            minlength="4"
            placeholder="Nom"
            type="text" 
            name="name" 
            [(ngModel)]="student.name" 
        />

        <!-- "dirty" => saisie dans l'input -->

        @if(name.invalid && name.dirty) {
            <span>Le nom doit contenir au moins 4 caractères</span>
        }

        <input
            #grade="ngModel"
            required
            min="0"
            max="20"
            type="number" 
            name="grade" 
            [(ngModel)]="student.grade" 
        />

        @if (!hideBtn) {
            <button [disabled]="form.invalid">Ajouter l'étudiant</button>
        }
        
    
    </form>

    <section>
        <div>{{ student | json }}</div>
        <div>Nom valide ? => {{ name.valid ? 'oui' : 'non' }}</div>
        <div>Note valide ? => {{ grade.valid ? 'oui' : 'non' }}</div>
        <div>Formulaire valide ? => {{ form.valid ? 'oui' : 'non' }}</div>
    </section>
    
    <student-message>{{ message }}</student-message>

</div>

